:root {
  --margin: 15px;
  --margin-lg: calc(var(--margin) * 2);
  --padding: 15px;
  --padding-lg: calc(var(--padding) * 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}